﻿@{
    ViewBag.Title = "Успешная регистрация.";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <p>
        Благодарим за подтверждение электронной почты.
    </p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">На главную</a>
    <a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary">Вход</a>
</div>