﻿@{
    ViewBag.Title = "Восстановление пароля";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <p>
        На указанный вами электронный адрес было отправлено сообщение о сбросе пароля. Проверьте электронную почту, чтобы сбросить пароль.
    </p>
</div>
