﻿@model NhpCore.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Введите адрес электронной почты.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        <br />
        <input type="submit" class="btn btn-default" value="Отправка ссылки по электронной почте" />
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
