﻿@{
    ViewBag.Title = "Ошибка";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <p>
        Пароль не может быть восстановлен, т.к. пользователь с таким Email не найден, или его учетная запись не подтверждена.
    </p>
</div>

