﻿@using NhpCore.Common;
@model NhpCore.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}


<div class="container">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3 class="form-signin-heading">Введите регистрационные данные</h3>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.RegistrationType, new { Value = NhpConstants.Controllers.Account.UserRegType })
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.LabelFor(m => m.SecondName)
        @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.LabelFor(m => m.PatronymicName)
        @Html.TextBoxFor(m => m.PatronymicName, new { @class = "form-control" })
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.HiddenFor(m => m.InviteCode)
        <br />

        <p>Регистрируясь в Сервисе, вы принимаете условия &#34;<a href="http://nhp-soft.ru/rates/ofer.pdf" target="_blank">договора-оферты</a>&#34;.</p>
        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Регистрация" />
        </div>
    }
    <a href="/dashboard" class="btn btn-default" target="_blank">Войти</a>
</div>
<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}