﻿@model NhpCore.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Сброс пароля";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.userId)
        @Html.HiddenFor(model => model.Code)
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        <br>
        <input type="submit" class="btn btn-default" value="Сбросить пароль" />
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
