﻿@{
    ViewBag.Title = "Сброс пароля";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <p>
        Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Index", "Dashboard", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>