﻿
@{
    ViewBag.Title = "Успешная регистрация";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <p>
        Процедура регистрации пройдена успешна. На Ваш почтовый адрес выслано письмо с ссылкой для подтверждения учетной записи.
    </p>
</div>