﻿@model NhpCore.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Проверить";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("provider", @Model.Provider)
        @Html.Hidden("rememberMe", @Model.RememberMe)
        <h4>Введите проверочный код</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Code)
        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.RememberBrowser)
            @Html.LabelFor(m => m.RememberBrowser)
        </div>
        <br>
        <input type="submit" class="btn btn-default" value="Отправить" />
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
