﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=1000, initial-scale=1.0" charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="НХП Проект online">
    <meta name="description" content="Облачная система управления проектами (СУП) для организаций и предпринимателей">
    <link rel="icon" type="image/x-icon" href="~/Content/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/favicon.png">
    <link rel="apple-touch-icon" sizes="192x192" href="~/Content/images/favicon.png">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" type="text/css" href="~/Content/styles/index.css" />
    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>
<body>
    @if (!Request.IsAuthenticated)
            {
        <header class="nhp-header" id="header">
            <div class="nhp-wrapper container">
                <div class="nhp-header-item nhp-header-logo">
                    <a class="nhp-header-link" href="http://nhp-soft.ru" target="_blank">
                        <img src="http://nhp-soft.ru/bitrix/templates/liberty/assets/img/default-logo.png" alt="logo">
                    </a>
                </div>
                <div class="nhp-header-item nhp-header-item__logout">
                    @Html.ActionLink("Цены", "rates", "home", routeValues: null, htmlAttributes: new { @class = "nhp-header-link", target="_blank" })
                </div>
                <div class="nhp-header-item">
                    @Html.ActionLink("Поддержка", "help", "home", routeValues: null, htmlAttributes: new { @class = "nhp-header-link", target = "_blank" })
                </div>
                <div class="nhp-header-item nhp-header-item__logout pull-right">
                    @Html.ActionLink("Регистрация", "register", "account", routeValues: null, htmlAttributes: new { @class = "nhp-header-link" })
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="nhp-header-item pull-right">
                        @Html.ActionLink("Выйти", "SignOut", "Account", routeValues: null, htmlAttributes: new { @class = "nhp-header-link" })
                    </div>
                }
                else
                {
                    <div class="nhp-header-item pull-right">
                        @Html.ActionLink("Войти", "index", "dashboard", routeValues: null, htmlAttributes: new { @class = "nhp-header-link" })
                    </div>
                }
            </div>
        </header>
    }
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    @RenderBody()

    
    @*<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>*@
    <script>
        $(document).ready(function () {
            $('nav li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('nav li').addClass('active');
        });
    </script>
    @Scripts.Render("~/bundles/vue")
    @Styles.Render("~/bundles/vue.css")
    @Scripts.Render("~/bundles/jquerycookie")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>