﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles/index.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>