﻿
@{
    ViewBag.Title = "НХП.Менеджер";
    ViewBag.ThemeColor = "#a23a99";
    ViewBag.ThemeColorHoverFocus = "#96328d";
    ViewBag.ThemeColorActive = "#902987";
}




<style>

    .nav-tabs {
        border: none;
        background-color: @ViewBag.ThemeColor;
    }

    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        color: #fff;
        cursor: pointer;
        background-color: @ViewBag.ThemeColorHoverFocus;
        border: none;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #fff;
        cursor: pointer;
        background-color: @ViewBag.ThemeColorActive;
        border: none;
    }
</style>

<div id="app">
    <div v-cloak>
        <transition name="shown">
            <div class="row" v-if="isSuccessMessage">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-success" role="alert">
                        <strong>Успешно:</strong>
                        {{SuccessMessage}}
                        <span style="float:right;" v-on:click="closeSuccess"><i class="fa fa-times pointer"></i></span>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="shown">
            <div class="row" v-if="isDangerMessage">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Ошибка:</strong>
                        {{DangerMessage}}
                        <span style="float:right;" v-on:click="closeDanger"><i class="fa fa-times pointer"></i></span>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="shown">
            <div class="row" v-if="isWarningMessage">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-warning" role="alert">
                        <strong>Внимание:</strong>
                        {{WarningMessage}}
                        <span style="float:right;" v-on:click="closeWarning"><i class="fa fa-times pointer"></i></span>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="shown">
            <div class="row" v-if="isInfoMessage">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-info" role="alert">
                        <strong>Информация:</strong>
                        {{InfoMessage}}
                        <span style="float:right;" v-on:click="closeInfo"><i class="fa fa-times pointer"></i></span>
                    </div>
                </div>
            </div>
        </transition>
    </div>
    <header class="nhp-header" v-cloak>
        <div class="nhp-wrapper container">
            <div class="nhp-header-item nhp-header-logo">
                <a class="nhp-header-link" href="http://nhp-soft.ru" target="_blank">
                    <img src="http://nhp-soft.ru/bitrix/templates/liberty/assets/img/default-logo.png" alt="logo">
                </a>
            </div>
            <div class="nhp-header-item nhp-header-link" v-if="hasSystem">
                <div data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                </div>
                <ul class="dropdown-menu">
                    <li v-for="system in systems"><a v-bind:href="system.Link"><i class="fa" v-bind:class="system.Icon"></i> {{system.Name}}</a></li>
                </ul>
            </div>
            <div class="nhp-header-item nhp-header-link">
                <span v-if="isOrganisationLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i> загружаются огранизации...</span>
                <div v-else data-toggle="dropdown">
                    <i class="fa fa-sitemap fa-fw"></i> {{selectedOrganisation.name}} <i class="fa fa-caret-down"></i>
                </div>
                <ul class="dropdown-menu">
                    <li v-for="org in organisations" v-on:click="selectOrganisation(org)"><a href="#"><i class="fa fa-sitemap fa-fw"></i> {{org.name}}</a></li>
                </ul>
            </div>
            <div class="nhp-header-item pull-right">
                @Html.ActionLink("Выйти", "SignOut", "Account", routeValues: null, htmlAttributes: new { @class = "nhp-header-link nhp-header-item__logout" })
            </div>
            <div class="nhp-header-item pull-right">
                <a class="nhp-header-link"><i class="glyphicon glyphicon-user"></i> @ViewBag.DisplayName</a>
            </div>
            <div class="nhp-header-item pull-right">
                <a class="nhp-header-link" href="http://nhp-soft.ru/help/go/" target="_blank"><i class="glyphicon glyphicon-question-sign"></i> Помощь</a>
            </div>
        </div>
    </header>
    <section class="section-content">

        <div class="container" style="background-color: #fff;border: 1px solid #dedede;">
            <div class="row">

                <!--Main nav tabs start-->
                <div class="navigationmenu">
                    <ul class="nav nav-tabs tab-control" id="myTab">
                        <li class="active tab"><a href="#documents" data-toggle="tab">Документы</a></li>
                        <li class="tab"><a href="#licenses" data-toggle="tab">Лицензии</a></li>
                        <li class="tab"><a href="#mail" data-toggle="tab">НХП.Почтовик</a></li>
                    </ul>
                </div>
                <!--Main nav tabs end-->

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="documents">
                        <!-- Документы -->
                        <div class="context invoicesList">
                            @*<pre>
{{ filteredInvoices }}
</pre>*@
                            <div v-if="invoiceLoading" class="fa-loading">
                                <i class="fa fa-spinner fa-pulse"></i> Идет загрузка счетов...
                            </div>
                            <table class="table table-bordered table-hover" v-else>
                                <thead>
                                    <tr v-if="Invoices.length>0" class="active">
                                        <th>Дата</th>
                                        <th>Номер</th>
                                        <th>Организация</th>
                                        <th>Сумма</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr v-if="isFilterInvoices" class="active">
                                        <th><input v-model="FilterInvoices.DateTime" /></th>
                                        <th><input v-model="FilterInvoices.Name" /></th>
                                        <th><input v-model="FilterInvoices.BuyeerName" /></th>
                                        <th><input v-model="FilterInvoices.Total" /></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="filteredInvoices.length==0">
                                        <td colspan="6">У вас нет выставленных счетов</td>
                                    </tr>
                                    <tr v-else v-for="invoice in filteredInvoices">
                                        <td>{{invoice.DateTime}}</td>
                                        <td>{{invoice.Name}}</td>
                                        <td>{{invoice.BuyeerName}}</td>
                                        <td>{{invoice.Total}}</td>
                                        <td><a class="btn btn-info btn-xs" v-bind:href="invoice.DownloadLink" target="_blank"><i class="fa fa-list-alt"></i> Просмотреть</a></td>
                                        <td v-if="invoice.IsPayed"><button class="btn btn-default btn-xs disabled"><i class="fa fa-check-circle-o"></i> Оплата принята</button></td>
                                        <td v-if="!invoice.IsPayed"><button class="btn btn-success btn-xs" v-on:click="acceptIncoice(invoice)" v-if="!invoice.IsPayed"><i class="fa fa-spinner fa-pulse" v-if="isInvoiceAccepting"></i><i class="fa fa-check-circle-o" v-if="!isInvoiceAccepting"></i> Принять оплату</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="licenses">
                        <!-- Лицензии -->
                        <div class="context">
                            <h2>Лицензии</h2>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mail">
                        <!-- НХП.Почтовик -->
                        <div class="context">
                            <div class="compose">
                                <div class="compose-header">
                                    <div class="compose-header-to"><label for="compose-to" v-on:click="showAdressBook">Кому: </label><input tabindex="1" id="compose-to" /></div>
                                    <div class="compose-header-theme"><label for="compose-theme">Тема: </label><input tabindex="1" id="compose-theme" /></div>
                                </div>
                                <div class="compose-body">
                                    <textarea class="compose-editor" id="editor1" tabindex="2"></textarea>
                                </div>
                                <div class="compose-footer">
                                    <button class="btn btn-success" style="background-color: #a23a99;border-color: #7b2474;" v-on:click="sendEmail"><i class="fa fa-spinner fa-pulse" v-if="isMailSending"></i><i class="fa fa-send-o" v-if="!isMailSending"></i> Отправить</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="adressbook" tabindex="0" role="dialog" aria-labelledby="adressbook">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title fs3" id="adressbook">Адресная книга</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="acidjs-css3-treeview">
                                            <ul>
                                            </ul>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script src="//cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    <script type="text/x-template" id="node-template">
        <li>
            @*<input type="checkbox" v-if="isFolder && open" />
            <input type="checkbox" v-if="isFolder && !open" />
            <input type="checkbox" v-if="!isFolder" />*@

            <input type="checkbox" v-bind:id="'node-'+model.Id" checked="checked" />
            <label><input type="checkbox" /><span></span></label>
            <label v-bind:for="'node-'+model.Id">{{model.Name}}</label>
            <ul v-show="open" v-if="isFolder">
                <node v-for="model in model.Nodes" v-bind:model="model"></node>
            </ul>
            <ul v-show="open">
                <li class="node-member" v-for="member in model.Members">
                    <label><input type="checkbox" /><span></span></label>
                    <label v-bind:id="'member-'+model.Id">{{member.Name}}</label>
                </li>
            </ul>
        </li>
    </script>
    <script type="text/javascript">
        //var uid = @ViewBag.UserId;
    </script>
    @Styles.Render("~/bundles/fa")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/Scripts/src/manager.js")

}