﻿
@{
    ViewBag.Title = "НХП.Админ";
    ViewBag.ThemeColor = "#4a4a4a";
    ViewBag.ThemeColorHoverFocus = "#5f5f5f";
    ViewBag.ThemeColorActive = "#2d2d2d";
}
<style>
    .nav-tabs {
        border: none;
        background-color: @ViewBag.ThemeColor;
    }

    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        color: #fff;
        cursor: pointer;
        background-color: @ViewBag.ThemeColorHoverFocus;
        border: none;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #fff;
        cursor: pointer;
        background-color: @ViewBag.ThemeColorActive;
        border: none;
    }
</style>

<div id="app">

    <header class="nhp-header" v-cloak>
        <div class="nhp-wrapper container">
            <div class="nhp-header-item nhp-header-logo">
                <a class="nhp-header-link" href="http://nhp-soft.ru" target="_blank">
                    <img src="http://nhp-soft.ru/bitrix/templates/liberty/assets/img/default-logo.png" alt="logo">
                </a>
            </div>
            <div class="nhp-header-item nhp-header-link" v-if="hasSystem">
                <div data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                </div>
                <ul class="dropdown-menu">
                    <li v-for="system in systems"><a v-bind:href="system.Link"><i class="fa" v-bind:class="system.Icon"></i> {{system.Name}}</a></li>
                </ul>
            </div>
            <div class="nhp-header-item nhp-header-link">
                <span v-if="isOrganisationLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i> загружаются огранизации...</span>
                <div v-else data-toggle="dropdown">
                    <i class="fa fa-sitemap fa-fw"></i> {{selectedOrganisation.name}} <i class="fa fa-caret-down"></i>
                </div>
                <ul class="dropdown-menu">
                    <li v-for="org in organisations" v-on:click="selectOrganisation(org)"><a href="#"><i class="fa fa-sitemap fa-fw"></i> {{org.name}}</a></li>
                </ul>
            </div>
            <div class="nhp-header-item pull-right">
                @Html.ActionLink("Выйти", "SignOut", "Account", routeValues: null, htmlAttributes: new { @class = "nhp-header-link nhp-header-item__logout" })
            </div>
            <div class="nhp-header-item pull-right">
                <a class="nhp-header-link"><i class="glyphicon glyphicon-user"></i> @ViewBag.DisplayName</a>
            </div>
            <div class="nhp-header-item pull-right">
                <a class="nhp-header-link" href="http://nhp-soft.ru/help/go/" target="_blank"><i class="glyphicon glyphicon-question-sign"></i> Помощь</a>
            </div>
        </div>
    </header>
    <section class="section-content">
        <div class="container" style="background-color: #fff;border: 1px solid #dedede;">
            <div class="row">
                <!--Main nav tabs start-->
                <div class="navigationmenu">
                    <ul class="nav nav-tabs tab-control" id="myTab">
                        <li class="active tab"><a href="#dictionary" data-toggle="tab">Справочники</a></li>
                        <li class="tab"><a href="#organisations" data-toggle="tab">Организации</a></li>
                        <li class="tab"><a href="#profiles" data-toggle="tab">Профили</a></li>
                        <li class="tab"><a href="#service" data-toggle="tab">Сервис</a></li>
                    </ul>
                </div>
                <!--Main nav tabs end-->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="dictionary">
                        <!-- Справочники -->
                        <div class="context">
                            <h2>Справочники</h2>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="organisations">
                        <!-- Организации -->
                        <div class="context">
                            <h2>Организации</h2>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profiles">
                        <!-- Профили -->
                        <div class="context">
                            <h2>Профили</h2>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="service">
                        <!-- Сервис -->
                        <div class="context">
                            <a href="/Department/CalculateLevel">Пересчитать уровни подразделений</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    <script type="text/javascript">
        //var uid = @ViewBag.UserId;
    </script>
    @Styles.Render("~/bundles/fa")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/Scripts/src/admin.js")

}

