﻿<div class="page-header">
    <div class="fa">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
    </div>
    <div style="text-align:center;font-size:xx-large;margin-top:30px;">Идет загрузка...</div>
</div>

<form method="post" action="{responseUri}">
    {responseFields}
</form>
