﻿<!DOCTYPE html>
<html ng-app="app" ng-csp ng-controller="LayoutCtrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{siteName}</title>
    {stylesheets}
</head>
<body lang="en">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!--<div class="navbar-header">
            <a href="{applicationPath}/">
                <span class="navbar-brand">{siteName}</span>
            </a>
        </div>-->
        <ul class="nav navbar-nav" ng-show="model.currentUser" ng-cloak>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{model.currentUser}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{model.logoutUrl}}">Выйти</a></li>
                    <li class="divider" ng-show="model.loginWithDifferentAccountUrl"></li>
                    <li><a href="{{model.loginWithDifferentAccountUrl}}" ng-show="model.loginWithDifferentAccountUrl">Зайти под другой учетной записью</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class='container page-{page}' ng-cloak>
        {pageContent}
    </div>

    <script id='modelJson' type='application/json'>{model}</script>
    <script src="{applicationPath}/assets/scripts.2.5.0.js"></script>
    {scripts}
</body>
</html>
