﻿<div class="page-header">
    <h1>Отключение</h1>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <p>Вы действительно хотите отключить от {{model.siteName}}?</p>
        <form name="form" method="post" action="{{model.logoutUrl}}">
            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>

            <fieldset>
                <div class="form-group">
                    <button class="btn btn-primary">Да</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>