﻿<div class="page-header">
    <h1>
        Выход
        <small>Вы больше не аутентифицированы.</small>
    </h1>
    <div ng-show="model.redirectUrl">
        Нажмите <a ng-href="{{model.redirectUrl}}">здесь</a> для перехода к
        <!--<span ng-bind="model.clientName"></span>--> главной странице.
    </div>
    <iframe class="signout" ng-repeat="url in model.iFrameUrls" ng-src="{{url}}"></iframe>
</div>
