﻿<p>Test custom View Templates</p>

<div class="page-header">
    <h1>Please wait...</h1>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <form method="post" action="{responseUri}">
            {responseFields}
        </form>
    </div>
</div>
