﻿.forgotLink {
    float: right;
    margin-left: 5px;
    top: 7px;
    right: 0px;
}

.page-header {
    border-bottom: 0px;
}

    .page-header .fa {
        margin: auto;
        display: block;
    }
