﻿
@{
    ViewBag.Title = "НХП Проект - online система управления проектами и задачами";
    ViewBag.Page = "НХП Проект - online система управления проектами и задачами";
}
<style>
    .nhp-header {
        background: rgba(255, 255, 255, 0.3) !important;
    }
</style>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h1>НХП Проект - online система управления проектами и задачами</h1>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- виджет обратной связи -->
    <script data-skip-moving="true">
        (function (w, d, u, b) {
            s = d.createElement('script'); r = (Date.now() / 1000 | 0); s.async = 1; s.src = u + '?' + r;
            h = d.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h);
        })(window, document, 'https://cdn.bitrix24.ru/b898669/crm/site_button/loader_2_n465zu.js');
    </script>
    <script>
        $('body').addClass('myHeightClass');
    </script>
}