﻿@model NhpCore.Models.TestApi

@{
    ViewBag.Title = "TestApi";
    ViewBag.Page = "TestApi";

}


@using (Html.BeginForm("TestApi", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="text" name="id" value="1">
    <input type="submit">
}

@if (Model != null && Model.Result != null && Model.Result != "")
{
    <pre>
        @Model.Result
    </pre>
}