﻿
@{
    ViewBag.Title = "Отписаться";
}

<style>
    .nhp-header {
        background: rgba(255, 255, 255, 0.3) !important;
    }
</style>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h1>Вы успешно отписаны</h1>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            document.location.href = "/";
        }, 2000);
    });
</script>
