﻿
@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article>
    <div class="container" style="display:none;">
        <div class="row">
            <div class="col-md-12 top-notification">
                <span>Вы пользуетесь бесплатной версией сервиса</span>
                <input type="button" value="Продлить подписку" />
            </div>
        </div>
    </div>
</article>
<!--message start-->
<div id="message" v-cloak>
    <div class="row" v-if="isSuccessMessage">
        <div class="col-md-12 col-sm-12">
            <div class="alert alert-success" role="alert">
                <strong>Успешно:</strong>
                {{SuccessMessage}}
                <span style="float:right;" v-on:click="closeSuccess"><i class="fa fa-times pointer"></i></span>
            </div>
        </div>
    </div>
    <div class="row" v-if="isDangerMessage">
        <div class="col-md-12 col-sm-12">
            <div class="alert alert-danger" role="alert">
                <strong>Ошибка:</strong>
                {{DangerMessage}}
                <span style="float:right;" v-on:click="closeDanger"><i class="fa fa-times pointer"></i></span>
            </div>
        </div>
    </div>
    <div class="row" v-if="isWarningMessage">
        <div class="col-md-12 col-sm-12">
            <div class="alert alert-warning" role="alert">
                <strong>Внимание:</strong>
                {{WarningMessage}}
                <span style="float:right;" v-on:click="closeWarning"><i class="fa fa-times pointer"></i></span>
            </div>
        </div>
    </div>
    <div class="row" v-if="isInfoMessage">
        <div class="col-md-12 col-sm-12">
            <div class="alert alert-info" role="alert">
                <strong>Информация:</strong>
                {{InfoMessage}}
                <span style="float:right;" v-on:click="closeInfo"><i class="fa fa-times pointer"></i></span>
            </div>
        </div>
    </div>
</div>
<!--message end-->

<header class="nhp-header" id="header" v-cloak>
    <div class="nhp-wrapper container">
        <div class="nhp-header-item nhp-header-logo">
            <a class="nhp-header-link" href="http://nhp-soft.ru" target="_blank">
                <img src="http://nhp-soft.ru/bitrix/templates/liberty/assets/img/default-logo.png" alt="logo">
            </a>
        </div>
        <div class="nhp-header-item nhp-header-link" v-if="systems.length>1">
            <div data-toggle="dropdown">
                <i class="fa fa-chevron-down"></i>
            </div>
            <ul class="dropdown-menu">
                <li v-for="system in systems"><a v-bind:href="system.Link"><i class="fa" v-bind:class="system.Icon"></i> {{system.Name}}</a></li>
            </ul>
        </div>
        <div class="nhp-header-item nhp-header-link">
            <span v-if="isOrganisationLoading" class="fa fa-spinner fa-pulse fa-fw"></span>
            <div v-else class="" data-toggle="dropdown">
                <i class="fa fa-sitemap fa-fw"></i> {{selectedOrganisation.name}} <i class="fa fa-caret-down"></i>
            </div>
            <ul class="dropdown-menu">
                <li v-for="org in organisations" v-on:click="selectOrganisation(org)"><a href="#"><i class="fa fa-sitemap fa-fw"></i> {{org.name}}</a></li>
                <li class="dropdown-divider"></li>
                <li v-on:click="createNewOrganisation"><a href="#"><i class="fa fa-plus-square text-success"></i> Добавить</a></li>
            </ul>
        </div>
        <div class="nhp-header-item pull-right">
            @Html.ActionLink("Выйти", "SignOut", "Account", routeValues: null, htmlAttributes: new { @class = "nhp-header-link nhp-header-item__logout" })
        </div>
        <div class="nhp-header-item pull-right">
            <a class="nhp-header-link"><i class="glyphicon glyphicon-user"></i> @ViewBag.DisplayName</a>
        </div>
        <div class="nhp-header-item pull-right">
            <a class="nhp-header-link" href="http://nhp-soft.ru/help/go/" target="_blank"><i class="glyphicon glyphicon-question-sign"></i> Помощь</a>
        </div>
    </div>
</header>
<section class="section-content">

    <div class="container" style="background-color: #fff;border: 1px solid #dedede;">
        <div class="row">

            <!--Main nav tabs start-->
            <div class="navigationmenu">
                <ul class="nav nav-tabs tab-control" id="myTab">
                    <li class="active tab"><a href="#mycompany" data-toggle="tab">Моя компания</a></li>
                    <li class="tab"><a href="#program-links" data-toggle="tab">Программы для Windows</a></li>
                    <li class="tab"><a href="#projecttask" data-toggle="tab">Проекты и задачи</a></li>
                </ul>
            </div>
            <!--Main nav tabs end-->

            <div class="tab-content" id="myTabContent">
                <!--section tab my company start-->
                <div class="tab-pane fade active in" id="mycompany">
                    <!--Tab nav start-->
                    <div class="tab-content-nav" id="myCompanyTabs" v-cloak>
                        <div class="tab-content-nav-item" v-for="tab in sortedTab" v-if="tab.isAccess" v-show="tab.isVisible" v-bind:class="{'active' : tab.isActive}" v-on:click="tabSwitch(tab)"><a v-bind:href="tab.tabid">{{ tab.tabname }}</a></div>
                        <div class="alt-tab-content-nav-item" v-if="isAltMenuVisible" data-toggle="dropdown">
                            <i class="fa fa-align-justify"></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li v-for="tab in sortedAltTab" v-if="tab.isAccess" v-show="tab.isVisible" v-bind:class="{'active' : tab.isActive}" v-on:click="tabSwitch(tab)"><a v-bind:href="tab.tabid">{{ tab.tabname }}</a></li>
                        </ul>
                    </div>
                    <!--Tab nav end-->
                    <div class="context">
                        <!--section employees start-->
                        <div class="section-employees" id="inviteTab" v-cloak>
                            <div class="col-md-12 invitedUsersList">
                                <div v-if="userLoading || isInviting" class="fa-loading">
                                    <i class="fa fa-spinner fa-pulse"></i> Идет загрузка...
                                </div>
                                <table class="table table-bordered table-hover" v-else>
                                    <thead>
                                        <tr class="active">
                                            <th colspan="4">Список приглашенных колег <button v-if="users.length>0" class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#inviteUsers" data-whatever="Пригласить пользователя">Пригласить</button></th>
                                        </tr>
                                        <tr v-if="users.length>0" class="active">
                                            <th>Дата</th>
                                            <th>ФИО</th>
                                            <th>Статус</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="users.length==0">
                                            <td colspan="4">
                                                У вас нет приглашенных сотрудников <button class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#inviteUsers" data-whatever="Пригласить пользователя">Пригласить</button>
                                            </td>
                                        </tr>
                                        <tr v-else v-for="user in users" v-on:click="selectUser(user)">
                                            <td>{{user.inviteDate}}</td>
                                            <td>{{user.displayName}}</td>
                                            <td>{{user.status==true?"Зарегистрирован":"Приглашен"}}</td>
                                            <td v-if="user.isDeleting"><i class="fa fa-spinner fa-pulse fa-fw"></i></td>
                                            <td v-else><span class="text-danger fa fa-trash-o" v-on:click="remove(user)" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="inviteUsers" tabindex="0" role="dialog" aria-labelledby="myModalTitle">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title fs3" id="myModalTitle">Приглашение пользователей</h4>
                                            </div>
                                            <div class="modal-body">
                                                <textarea class="width-100 resize-vertical" rows="10" v-model="emails" placeholder="Укажите электронный адрес пользователей по одному в строке"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" v-on:click="invite"><i class="fa fa-spinner fa-pulse" v-if="isInviting"></i> Пригласить</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--section employees end-->
                        <!--section subscriptions start-->
                        <div class="section-subscriptions" id="subscriptionTab" v-cloak>
                            <div class="col-md-12 licensesList">
                                <div v-if="subscriptionLoading" class="fa-loading">
                                    <i class="fa fa-spinner fa-pulse"></i> Идет загрузка купленных лицензий...
                                </div>
                                <div v-else>
                                    <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#buyLicense" data-whatever="Купить лицензию">Купить лицензии для компании {{selectedOrganisation.name}}</button>
                                    <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#activateLicense" data-whatever="Активировать лицензию">Активировать лицензию для компании {{selectedOrganisation.name}}</button>
                                    <table class="table table-bordered table-hover margin-top-20">
                                        <thead>
                                            <tr class="active">
                                                <th colspan="8">Ваши лицензии</th>
                                            </tr>
                                            <tr v-if="Licenses.length>0" class="active">
                                                <th rowspan="2">Лицензия</th>
                                                <th rowspan="2">Кол-во</th>
                                                <th rowspan="2">Сумма</th>
                                                <th colspan="2">Организация</th>
                                                <th rowspan="2">Дата окончания</th>
                                                <th rowspan="2">Секретный код</th>
                                                <th rowspan="2">Активирована</th>
                                            </tr>
                                            <tr v-if="Licenses.length>0" class="active">
                                                <th>Покупатель</th>
                                                <th>Владелец</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-if="Licenses.length==0">
                                                <td colspan="8">У вас нет оплаченных лицензий</td>
                                            </tr>
                                            <tr v-else v-for="license in Licenses">
                                                <td>{{license.SubscriptionName}}</td>
                                                <td>{{license.Quantity}}</td>
                                                <td>{{license.Price}}</td>
                                                <td>{{license.BuyeerName}}</td>
                                                <td>{{license.EndCustomerOrganisationName}}</td>
                                                <td>{{license.InvalidationTime}}</td>
                                                <td v-if="license.IsActivatedLicense"><a v-bind:href="license.DownloadLink" target="_blank">Скачать лицензию</a></td>
                                                <td v-else>{{license.LicenseCode}}</td>
                                                <td v-if="license.IsActivatedLicense"><i class="fa fa-check-circle-o text-success"></i></td>
                                                <td v-else><i class="fa fa-circle-o text-warning"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 invoicesList" v-cloak>
                                <div v-if="invoiceLoading" class="fa-loading margin-top-40">
                                    <i class="fa fa-spinner fa-pulse"></i> Идет загрузка счетов...
                                </div>
                                <table class="table table-bordered table-hover" v-else>
                                    <thead>
                                        <tr class="active">
                                            <th colspan="4">Ваши документы</th>
                                        </tr>
                                        <tr v-if="Invoices.length>0" class="active">
                                            <th>Дата</th>
                                            <th>Номер</th>
                                            <th>Сумма</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="Invoices.length==0">
                                            <td colspan="3">У вас нет выставленных счетов</td>
                                        </tr>
                                        <tr v-else v-for="invoice in Invoices">
                                            <td>{{invoice.DateTime}}</td>
                                            <td>{{invoice.Name}}</td>
                                            <td>{{invoice.Total}}</td>
                                            <td><a v-bind:href="invoice.DownloadLink" target="_blank">Скачать счет</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal fade" id="buyLicense" tabindex="0" role="dialog" aria-labelledby="myModalTitle">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        @*<pre>{{availableLicenses}}</pre>*@
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title fs3" id="myModalTitle">Купить лицензию для компании {{selectedOrganisation.name}}</h4>
                                        </div>
                                        <div class="modal-body buyLicensesList">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr class="active">
                                                        <th></th>
                                                        <th>Лицензия</th>
                                                        <th>Количество пользователей</th>
                                                        <th>Период</th>
                                                        <th>Сумма</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="license in availableLicenses">
                                                        <td v-if="license.isSelected" v-on:click="license.isSelected=!license.isSelected"><i class="fa fa-check-square"></i></td>
                                                        <td v-else v-on:click="license.isSelected=!license.isSelected"><i class="fa fa-square-o"></i></td>
                                                        <td v-bind:class="{'text-success bold':license.isSelected}">{{license.Name}}</td>
                                                        <td>
                                                            <select v-model="license.Quantity">
                                                                <option value="1" selected>1</option>
                                                                <option value="2">2</option>
                                                                <option value="5">5</option>
                                                                <option value="10">10</option>
                                                                <option value="15">15</option>
                                                                <option value="20">20</option>
                                                                <option value="25">25</option>
                                                                <option value="30">30</option>
                                                                <option value="35">35</option>
                                                                <option value="40">40</option>
                                                                <option value="45">45</option>
                                                                <option value="50">50</option>
                                                                <option value="55">55</option>
                                                                <option value="60">60</option>
                                                                <option value="65">65</option>
                                                                <option value="70">70</option>
                                                                <option value="75">75</option>
                                                                <option value="80">80</option>
                                                                <option value="85">85</option>
                                                                <option value="90">90</option>
                                                                <option value="95">95</option>
                                                                <option value="100">100</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select v-model="license.SelectedSubscription">
                                                                <option v-for="subscription in license.Subscriptions" v-bind:value="subscription">{{subscription.Duration}}</option>
                                                            </select>
                                                        </td>
                                                        <td v-if="license.isCalculation"><i class="fa fa-spinner fa-pulse"></i> расчет...</td>
                                                        <td v-else>{{license.Total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <div v-if="totalInvoice>0" class="pull-left bold" style="position: absolute;bottom: 24px;">
                                                Сумма заказа: <span class="spincrement">{{totalInvoiceAnimated}}</span>
                                            </div>
                                            <button type="button" class="btn btn-primary" v-on:click="getPayDocument">Сформировать счет</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="activateLicense" tabindex="0" role="dialog" aria-labelledby="myModalTitle">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title fs3" id="myModalTitle">Активация лицензии для компании {{selectedOrganisation.name}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="activatecode">Секретный код</label>
                                                <input id="activatecode" class="form-control" placeholder="Введите секретный код" v-model="ActivationCode" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning" v-on:click="activateLicense"><i class="fa fa-spinner fa-pulse" v-if="isLicenseActivating"></i> Активировать</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="invoiceLicense" tabindex="0" role="dialog" aria-labelledby="myModalTitle" v-if="!isOrganisationLoading">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title fs3" id="myModalTitle">Проверьте ваши реквизиты для компании {{selectedOrganisation.name}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="invoiceContacts">
                                                <div class="form-group">
                                                    <label for="userSNP">ФИО</label>
                                                    <input id="userSNP" class="form-control" v-model="selectedOrganisation.Profile.DisplayName" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="userPhone">Телефон</label>
                                                    <input id="userPhone" class="form-control" v-model="selectedOrganisation.Profile.MobilePhone" />
                                                </div>
                                            </div>
                                            <div class="invoiceOrganisationDetails">
                                                <div class="form-group">
                                                    <label for="orgShortName">Компания</label>
                                                    <input id="orgShortName" class="form-control" v-model="selectedOrganisation.Details.ShortName" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="orgINN">ИНН</label>
                                                    <input id="orgINN" class="form-control" v-model="selectedOrganisation.Details.INN" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="orgKPP">КПП</label>
                                                    <input id="orgKPP" class="form-control" v-model="selectedOrganisation.Details.KPP" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="orgLegalAddress">Юридический адрес</label>
                                                    <textarea id="orgLegalAddress" class="form-control" v-model="selectedOrganisation.Details.LegalAddress"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="orgPhysicalAddress">Фактический адрес</label>
                                                    <textarea id="orgPhysicalAddress" class="form-control" v-model="selectedOrganisation.Details.PhysicalAddress"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-lg btn-warning center-block" v-on:click="setInvoice">Оформить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--section subscriptions end-->
                        <!--section organisationManagement start-->
                        <div class="section-organisationManagement" id="organisationManagementTab" v-cloak>
                            <div v-if="isDetailLoading"><i class="fa fa-spinner fa-pulse"></i> Идет загрузка...</div>
                            <div class="orgDetailCard" v-else>
                                <table class="table table-bordered table-hover">
                                    <tr class="active">
                                        <td colspan="2">
                                            <i class="fa" v-on:click="isDetailCardPrimary=!isDetailCardPrimary" v-bind:class="{'fa-minus-square-o' : isDetailCardPrimary, 'fa-plus-square-o' : isDetailCardPrimary==false}"></i> Общая информация
                                        </td> <!-- Общая информация -->
                                    </tr><!--required-->
                                    <tr v-show="isDetailCardPrimary" id="ShortName">
                                        <td>Краткое наименование</td>
                                        <td><input v-model="selectedOrganisation.Details.ShortName" required></td>
                                    </tr>
                                    <tr v-show="isDetailCardPrimary">
                                        <td>Полное наименование</td>
                                        <td><input v-model="selectedOrganisation.Details.FullName"></td>
                                    </tr>
                                    <tr v-show="isDetailCardPrimary">
                                        <td>Логотип компании</td>
                                        <td v-if="selectedOrganisation.Details.Logo==null"><input type="file" /></td>
                                        <td v-if="selectedOrganisation.Details.Logo!=null"><img v-bind:src="selectedOrganisation.Details.Logo" v-on:dblclick="selectedOrganisation.Details.Logo=null"></td>
                                    </tr>

                                    <tr class="active">
                                        <td colspan="2"><i class="fa" v-on:click="isDetailCardCodes=!isDetailCardCodes" v-bind:class="{'fa-minus-square-o' : isDetailCardCodes, 'fa-plus-square-o' : isDetailCardCodes==false}"></i> Коды организации</td> <!-- Коды организации -->
                                    </tr>
                                    <tr v-show="isDetailCardCodes">
                                        <td>ОГРН</td>
                                        <td><input v-model="selectedOrganisation.Details.OGRN" v-mask="'#############'"></td>
                                    </tr>
                                    <tr v-show="isDetailCardCodes" id="INN">
                                        <td>ИНН</td>
                                        <td><input v-model="selectedOrganisation.Details.INN" v-mask="'############'" required></td>
                                    </tr>
                                    <tr v-show="isDetailCardCodes">
                                        <td>КПП</td>
                                        <td><input v-model="selectedOrganisation.Details.KPP" v-mask="'#########'"></td>
                                    </tr>
                                    <tr v-show="isDetailCardCodes">
                                        <td>ОКПО</td>
                                        <td><input v-model="selectedOrganisation.Details.OKPO" v-mask="'########'"></td>
                                    </tr>
                                    <tr v-show="isDetailCardCodes">
                                        <td>ОКАТО</td>
                                        <td><input v-model="selectedOrganisation.Details.OKATO" v-mask="'########'"></td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"><i class="fa" v-on:click="isDetailCardContacts=!isDetailCardContacts" v-bind:class="{'fa-minus-square-o' : isDetailCardContacts, 'fa-plus-square-o' : isDetailCardContacts==false}"></i> Контакты</td> <!-- Контакты -->
                                    </tr>
                                    <tr v-show="isDetailCardContacts" id="LegalAddress">
                                        <td>Юридический адрес</td>
                                        <td><input v-model="selectedOrganisation.Details.LegalAddress" required></td>
                                    </tr>
                                    <tr v-show="isDetailCardContacts">
                                        <td>Фактический адрес</td>
                                        <td><input v-model="selectedOrganisation.Details.PhysicalAddress"></td>
                                    </tr>
                                    <tr v-show="isDetailCardContacts" id="PhoneNumber">
                                        <td>Телефон</td>
                                        <td><input v-model="selectedOrganisation.Details.PhoneNumber" required></td>
                                    </tr>
                                    <tr v-show="isDetailCardContacts">
                                        <td>Добавочный номер</td>
                                        <td><input v-model="selectedOrganisation.Details.PhoneNumberAdditional"></td>
                                    </tr>
                                    <tr v-show="isDetailCardContacts" id="Email">
                                        <td>Адрес электронной почты</td>
                                        <td><input v-model="selectedOrganisation.Details.Email" required></td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"><i class="fa" v-on:click="isDetailCardHead=!isDetailCardHead" v-bind:class="{'fa-minus-square-o' : isDetailCardHead, 'fa-plus-square-o' : isDetailCardHead==false}"></i> Руководство</td> <!-- Контакты -->
                                    </tr>
                                    <tr v-show="isDetailCardHead" id="DirectorString">
                                        <td>Руководитель <button class="btn btn-primary btn-xs pull-right" v-on:click="isHeadDirectorString=false" v-if="isHeadDirectorString">Выбрать</button><button class="btn btn-primary btn-xs pull-right" v-on:click="isHeadDirectorString=true" v-if="!isHeadDirectorString">Ручной ввод</button></td>
                                        <td v-if="isHeadDirectorString"><input v-model="selectedOrganisation.Details.DirectorString" required></td>
                                        <td v-if="!isHeadDirectorString">
                                            <select id="DirectorId" v-model="selectedOrganisation.Details.DirectorId" v-on:change="changeDirector">
                                                <option v-for="user in invitedUsers" v-bind:value="user.userId">{{user.displayName}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr v-show="isDetailCardHead" id="ChiefAccountantString">
                                        <td>Главный бухгалтер <button class="btn btn-primary btn-xs pull-right" v-on:click="isChiefAccountantString=false" v-if="isChiefAccountantString">Выбрать</button><button class="btn btn-primary btn-xs pull-right" v-on:click="isChiefAccountantString=true" v-if="!isChiefAccountantString">Ручной ввод</button></td>
                                        <td v-if="isChiefAccountantString"><input v-model="selectedOrganisation.Details.ChiefAccountantString" required></td>
                                        <td v-if="!isChiefAccountantString">
                                            <select v-model="selectedOrganisation.Details.ChiefAccountantId" v-on:change="changeChiefAccountant">
                                                <option v-for="user in invitedUsers" v-bind:value="user.userId">{{user.displayName}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"><i class="fa" v-on:click="isDetailCardBank=!isDetailCardBank" v-bind:class="{'fa-minus-square-o' : isDetailCardBank, 'fa-plus-square-o' : isDetailCardBank==false}"></i> Банковские реквизиты</td> <!-- Банковские реквизиты -->
                                    </tr>
                                    <tr v-show="isDetailCardBank" id="BankCorporateAccount">
                                        <td>Расчетный счет</td>
                                        <td><input v-model="selectedOrganisation.Details.BankCorporateAccount" v-mask="'####################'" required></td>
                                    </tr>
                                    <tr v-show="isDetailCardBank" id="BankName">
                                        <td>Наименование банка</td>
                                        <td><input v-model="selectedOrganisation.Details.BankName" required></td>
                                    </tr>
                                    <tr v-show="isDetailCardBank" id="BankBIK">
                                        <td>БИК</td>
                                        <td><input v-model="selectedOrganisation.Details.BankBIK" v-mask="'#########'" required></td>
                                    </tr>
                                    <tr v-show="isDetailCardBank" id="BankCorrespondentAccount">
                                        <td>Корреспондентский счет</td>
                                        <td><input v-model="selectedOrganisation.Details.BankCorrespondentAccount" v-mask="'####################'" required></td>
                                    </tr>
                                </table>
                                <div class="toolbar">
                                    <button class="btn btn-primary" v-on:click="saveOrgDetailCard">Сохранить</button>
                                </div>
                            </div>
                            <div class="orgStorageAccessCard" v-if="isDetailCardTechivalVisible">
                                @*<pre>{{selectedOrganisation.StorageAccess}}</pre>*@
                                <table class="table table-bordered table-hover">
                                    <!-- Техническая информация -->
                                    <tr class="active">
                                        <td colspan="2"><i class="fa" v-on:click="isDetailCardTechival=!isDetailCardTechival" v-bind:class="{'fa-minus-square-o' : isDetailCardTechival, 'fa-plus-square-o' : isDetailCardTechival==false}"></i> Файлообменник WEBDav</td>
                                    </tr>
                                    <tr v-show="isDetailCardTechival && selectedOrganisation.StorageAccess.StorageType==5">
                                        <td>Наименование</td>
                                        <td><input v-model="selectedOrganisation.StorageAccess.AccessName"></td>
                                    </tr>
                                    <tr v-show="isDetailCardTechival">
                                        <td>Выберите сервер</td>
                                        <td>
                                            <select v-model="selectedOrganisation.StorageAccess.StorageType">
                                                <option value=0>Яндекс.Диск</option>
                                                <option value=1>Google Drive</option>
                                                <option value=2>Файлы Mail.ru</option>
                                                <option value=3>Microsoft One Drive</option>
                                                <option value=4>Microsoft SharePoint</option>
                                                <option value=5>Собственный сервер</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr v-show="isDetailCardTechival">
                                        <td>Тип подключения</td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <button class="btn btn-primary btn-xs" v-bind:class="{'active' : selectedOrganisation.StorageAccess.AccessType==0}" v-on:click="selectedOrganisation.StorageAccess.AccessType=0">Токен</button>
                                                <button class="btn btn-primary btn-xs" v-bind:class="{'active' : selectedOrganisation.StorageAccess.AccessType==1}" v-on:click="selectedOrganisation.StorageAccess.AccessType=1">Email</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr v-show="isDetailCardTechival && selectedOrganisation.StorageAccess.StorageType==5">
                                        <td>Сервер URL</td>
                                        <td><input type="url" v-model="selectedOrganisation.StorageAccess.ServerUri"></td>
                                    </tr>
                                    <tr v-show="isDetailCardTechival && selectedOrganisation.StorageAccess.AccessType==0 && selectedOrganisation.StorageAccess.StorageType==5">
                                        <td>Токен для подключения</td>
                                        <td><input v-model="selectedOrganisation.StorageAccess.Token"></td>
                                    </tr>
                                    <tr v-show="isDetailCardTechival && selectedOrganisation.StorageAccess.AccessType==1">
                                        <td>Логин (электронная почта)</td>
                                        <td><input type="email" v-model="selectedOrganisation.StorageAccess.Email"></td>
                                    </tr>
                                    <tr v-show="isDetailCardTechival && selectedOrganisation.StorageAccess.AccessType==1">
                                        <td>Пароль</td>
                                        <td><input type="password" v-model="selectedOrganisation.StorageAccess.Password"></td>
                                    </tr>
                                </table>
                                <div class="toolbar" v-if="selectedOrganisation.StorageAccess.StorageType!=5 && selectedOrganisation.StorageAccess.AccessType==0">
                                    <a v-bind:href="yandexStorageLink" target="_blank" class="btn btn-primary">Получить</a>
                                </div>
                                <div class="toolbar" v-else>
                                    <button class="btn btn-primary" v-on:click="saveOrgStorageAccessCard">Сохранить</button>
                                </div>
                            </div>
                        </div>
                        <!--section organisationManagement end-->
                        <!--section organisationStructure start-->
                        <div class="section-organisationStructure" id="organisationStructureTab" v-cloak>
                            <div v-if="depLoading" class="organisationStructureTree fa-loading">
                                <i class="fa fa-spinner fa-pulse"></i> Идет загрузка структуры компании...
                            </div>
                            <div class="organisationStructureTree" v-else>
                                <div>Дерево подразделений</div>
                                <div class="treeView__content">
                                    <node class="treeview__node" v-bind:model="departments"></node>
                                </div>
                            </div>
                            <div class="departmentCardDetail" v-show="isDepartmentEditMode">
                                <table class="table table-bordered table-hover">
                                    <tr class="active">
                                        <td colspan="2">Общая информация</td>
                                    </tr>
                                    <tr v-if="selectedDepartment.availableParents!=null">
                                        <td>Головное подразделение</td>
                                        <td>
                                            <select v-model="selectedDepartment.ParentId">
                                                <option v-bind:value="0">{{selectedOrganisation.name}}</option>
                                                <option v-for="dep in selectedDepartment.availableParents" v-bind:value="dep.Id">{{dep.Name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Наименование</td>
                                        <td><input v-model="selectedDepartment.Name"></td>
                                    </tr>
                                    <tr>
                                        <td>Примечание</td>
                                        <td><input v-model="selectedDepartment.Description"></td>
                                    </tr>
                                    <tr class="active">
                                        <td v-if="isDepartmentUpdating" colspan="2"><i class="fa fa-spinner fa-pulse"></i> Обновление сотрудников</td>
                                        <td v-else colspan="2">
                                            Сотрудники
                                            <div class="btn-toolbar pull-right" role="toolbar" v-if="selectedDepartment.ParentId!=null">
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#availableInvitedUsers" data-whatever="Добавить пользователя">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                        Добавить
                                                    </button>
                                                    <button class="btn btn-xs btn-danger" v-on:click="deleteMember" v-bind:class="{'disabled' : Object.keys(selectedMember).length==0}">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                        Убрать
                                                    </button>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr v-for="member in selectedDepartment.Members" v-on:click="selectMember(member)" v-bind:class="{'selected' : (member.Id==selectedMember.Id)}" class="pointer">
                                        <td><img src="~/Content/images/user.png"></td>
                                        <td v-if="member.isDeleting"><i class="fa fa-spinner fa-pulse"></i> идет удаление...</td>
                                        <td v-else>{{member.Name}}</td>
                                    </tr>
                                </table>
                                <div class="modal fade" id="availableInvitedUsers" tabindex="0" role="dialog" aria-labelledby="availableInvitedUsers">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title fs3" id="myModalTitle">Доступные пользователи</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-bordered table-hover">
                                                    <tr v-if="availableInvitedUsers.length==0">
                                                        <td>Нет доступных пользователей</td>
                                                    </tr>
                                                    <tr v-else v-for="user in availableInvitedUsers" v-on:click="addMember(user)">
                                                        <td v-if="user.isDeleting"><i class="fa fa-spinner fa-pulse"></i> идет добавление...</td>
                                                        <td v-else>{{user.displayName}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="toolbar" v-if="selectedDepartment.ParentId!=null">
                                    <button class="btn btn-primary" v-on:click="saveDepartment">Сохранить</button>
                                    <button class="btn btn-toolbar" v-on:click="isDepartmentEditMode=false;">Отменить</button>
                                </div>
                            </div>
                            <div class="memberCardDetail" v-show="isMemberEditMode">
                                <div>
                                    <table class="table table-bordered table-hover">
                                        <tr class="active">
                                            <td colspan="2">Общая информация</td>
                                        </tr>
                                        <tr>
                                            <td>ФИО</td>
                                            <td>{{selectedMember.Name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Оклад</td>
                                            <td><input v-model="selectedMember.Salary" type="number" placeholder="0,00" min="0" value="0" step="100.00" pattern="^\d+(?:\,\d{1,2})?$" /> </td>
                                        </tr>
                                        <tr class="active">
                                            <td colspan="2">Действия</td>
                                        </tr>
                                        <tr>
                                            <td>Временно отключен (декрет, больничный и тд.)</td>
                                            <td><input type="checkbox" v-model="selectedMember.IsEnabled"></td>
                                        </tr>
                                        <tr>
                                            <td>Время отключения</td>
                                            <td><input type="datetime-local" v-model="selectedMember.DisablingTime" readonly></td>
                                        </tr>
                                        <tr>
                                            <td>Уволен</td>
                                            <td><input type="checkbox" v-model="selectedMember.IsDeleted"></td>
                                        </tr>
                                        <tr>
                                            <td>Время увольнения</td>
                                            <td><input type="datetime-local" v-model="selectedMember.DeleteTime"></td>
                                        </tr>
                                        <tr class="active">
                                            <td colspan="2">Доступные роли</td>
                                        </tr>
                                        <tr v-for="role in selectedMember.UserRoles">
                                            <td>{{role.Description}}</td>
                                            <td><input type="checkbox" v-model="role.IsSet"></td>
                                        </tr>
                                    </table>
                                    <div v-if="isMemberUpdating"><i class="fa fa-spinner fa-pulse fa-fw fa-3x"></i></div>
                                    <div v-else class="toolbar">
                                        <button class="btn btn-primary" v-on:click="saveMember">Сохранить</button>
                                        <button class="btn btn-toolbar" v-on:click="isMemberEditMode=false;">Отменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--section organisationStructure end-->
                        <!--section userProfile start-->
                        <div class="section-personalData" id="personalDataTab" v-cloak>
                            @*<pre>{{selectedProfile}}</pre>*@
                            <div class="profileBlock">
                                <div class="profileBlock__element">
                                    <div v-if="isProfileLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></div>
                                    <table v-else class="table table-bordered table-hover profileList">
                                        <tr class="active">
                                            <td colspan="2">
                                                <i class="fa" v-bind:class="{'fa-minus-square-o' : isProfileList, 'fa-plus-square-o' : isProfileList==false}" v-on:click="isProfileList=!isProfileList"></i>
                                                Список профилей
                                                <div class="btn-group btn-group-xs pull-right">
                                                    <button class="btn btn-success btn-xs" v-on:click="createProfile"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</button>
                                                    <button class="btn btn-danger btn-xs" v-bind:class="{'disabled' : !isProfileEditMode}" v-on:click="deleteProfile" v-show="selectedProfile!=null"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</button>
                                                </div>
                                            </td> <!-- Список профилей -->
                                        </tr>
                                        <tr v-show="isProfileList" v-for="prof in profiles" v-on:click="selectProfile(prof)" v-bind:class="{'selected' : (selectedProfile.Id===prof.Id && isProfileEditMode)}">
                                            <td>{{prof.SNP}}</td>
                                            <td>{{prof.DisplayName}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="profileBlock__element">
                                    <div v-if="isProfileLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></div>
                                    <table v-else class="table table-bordered table-hover profileOrgList">
                                        <tr class="active">
                                            <td colspan="2">
                                                <i class="fa" v-bind:class="{'fa-minus-square-o' : isProfileOrgList, 'fa-plus-square-o' : isProfileOrgList==false}" v-on:click="isProfileOrgList=!isProfileOrgList"></i>
                                                Назначить профиль компании
                                            </td> <!-- Назначить профиль компании -->
                                        </tr>
                                        <tr v-show="isProfileOrgList" v-for="org in organisations">
                                            <td>{{org.name}}</td>
                                            <td>
                                                <select v-model="org.Profile.Id" v-on:change="changeOrgProfile(org)">
                                                    <option v-for="prof in profiles" v-bind:value="prof.Id">{{prof.DisplayName}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="profileCard" v-show="isProfileCreateMode || isProfileEditMode">
                                <table class="table table-bordered table-hover">
                                    <tr class="active" v-on:click="isProfileCardPrimary=!isProfileCardPrimary">
                                        <td colspan="2"><i class="fa" v-bind:class="{'fa-minus-square-o' : isProfileCardPrimary, 'fa-plus-square-o' : isProfileCardPrimary==false}"></i> Общая информация</td> <!-- Общая информация -->
                                    </tr>
                                    <tr v-show="isProfileCardPrimary" id="SecondName">
                                        <td>Фамилия</td>
                                        <td><input v-model="selectedProfile.SecondName" required></td>
                                    </tr>
                                    <tr v-show="isProfileCardPrimary" id="FirstName">
                                        <td>Имя</td>
                                        <td><input v-model="selectedProfile.FirstName" required></td>
                                    </tr>
                                    <tr v-show="isProfileCardPrimary" id="PatronymicName">
                                        <td>Отчество</td>
                                        <td><input v-model="selectedProfile.PatronymicName" required></td>
                                    </tr>
                                    <tr v-show="isProfileCardPrimary" id="DisplayName">
                                        <td>Отображаемое имя</td>
                                        <td><input v-model="selectedProfile.DisplayName" required></td>
                                    </tr>
                                    <tr v-show="isProfileCardPrimary">
                                        <td>Год рождения</td>
                                        <td><input type="date" v-model="selectedProfile.BirthDate" v-bind:value="selectedProfile.BirthDate"></td>
                                    </tr>
                                    <tr class="active" v-on:click="isProfileCardPassport=!isProfileCardPassport">
                                        <td colspan="2"><i class="fa" v-bind:class="{'fa-minus-square-o' : isProfileCardPassport, 'fa-plus-square-o' : isProfileCardPassport==false}"></i> Паспортные данные</td> <!-- Паспортные данные -->
                                    </tr>
                                    <tr v-show="isProfileCardPassport">
                                        <td>Город</td>
                                        <td><input v-model="selectedProfile.City"></td>
                                    </tr>
                                    <tr v-show="isProfileCardPassport">
                                        <td>Адрес</td>
                                        <td><input v-model="selectedProfile.Address"></td>
                                    </tr>
                                    <tr v-show="isProfileCardPassport">
                                        <td>Пол</td>
                                        <td>
                                            <select v-model="selectedProfile.Gender">
                                                <option value="true">Мужской</option>
                                                <option value="false">Женский</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="active" v-on:click="isProfileCardBuh=!isProfileCardBuh">
                                        <td colspan="2"><i class="fa" v-bind:class="{'fa-minus-square-o' : isProfileCardBuh, 'fa-plus-square-o' : isProfileCardBuh==false}"></i> Данные для бухгалтерского учета</td> <!-- Данные для бухгалтерского учета -->
                                    </tr>
                                    <tr v-show="isProfileCardBuh">
                                        <td>ИНН</td>
                                        <td><input v-model="selectedProfile.INN"></td>
                                    </tr>
                                    <tr v-show="isProfileCardBuh">
                                        <td>Оклад</td>
                                        <td><input v-model="selectedProfile.Salary"></td>
                                    </tr>
                                    <tr v-show="isProfileCardBuh">
                                        <td>Должность</td>
                                        <td><input v-model="selectedProfile.JobTitle"></td>
                                    </tr>
                                    <tr class="active" v-on:click="isProfileCardContacts=!isProfileCardContacts">
                                        <td colspan="2"><i class="fa" v-bind:class="{'fa-minus-square-o' : isProfileCardContacts, 'fa-plus-square-o' : isProfileCardContacts==false}"></i>  Контакты</td> <!-- Контакты -->
                                    </tr>
                                    <tr v-show="isProfileCardContacts" id="MobilePhone1">
                                        <td>Мобильный телефон (основной)</td>
                                        <td><input type="tel" v-model="selectedProfile.MobilePhone1" required v-mask="'+7(###)###-####'"></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts">
                                        <td>Мобильный телефон (дополнительный)</td>
                                        <td><input type="tel" v-model="selectedProfile.MobilePhone2"></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts">
                                        <td>Рабочий телефон</td>
                                        <td><input type="tel" v-model="selectedProfile.BusinessPhone"></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts" id="Email">
                                        <td>Электронная почта</td>
                                        <td><input type="email" v-model="selectedProfile.Email" required></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts">
                                        <td>Skype</td>
                                        <td><input v-model="selectedProfile.Skype"></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts">
                                        <td>Имя пользователя Telegram</td>
                                        <td><input v-model="selectedProfile.Telegram"></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts">
                                        <td>ICQ</td>
                                        <td><input v-model="selectedProfile.ICQ"></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts">
                                        <td>Facebook</td>
                                        <td><input v-model="selectedProfile.Facebook"></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts">
                                        <td>LinkedIn</td>
                                        <td><input v-model="selectedProfile.LinkedIn"></td>
                                    </tr>
                                    <tr v-show="isProfileCardContacts">
                                        <td>ВКонтакте</td>
                                        <td><input v-model="selectedProfile.VK"></td>
                                    </tr>
                                    <tr class="active" v-on:click="isProfileCardAdditional=!isProfileCardAdditional">
                                        <td colspan="2"><i class="fa" v-bind:class="{'fa-minus-square-o' : isProfileCardAdditional, 'fa-plus-square-o' : isProfileCardAdditional==false}"></i> Дополнительная информация</td> <!-- Дополнительная информация -->
                                    </tr>
                                    <tr v-show="isProfileCardAdditional">
                                        <td>Навыки</td>
                                        <td><input v-model="selectedProfile.Skills"></td>
                                    </tr>
                                    <tr v-show="isProfileCardAdditional">
                                        <td>Интересы</td>
                                        <td><input v-model="selectedProfile.Interests"></td>
                                    </tr>
                                    <tr class="active" v-on:click="isProfileCardNotice=!isProfileCardNotice">
                                        <td colspan="2"><i class="fa" v-bind:class="{'fa-minus-square-o' : isProfileCardNotice, 'fa-plus-square-o' : isProfileCardNotice==false}"></i> Уведомления</td> <!-- Уведомления -->
                                    </tr>
                                    <tr v-show="isProfileCardNotice">
                                        <td>Получать уведомления Telegram</td>
                                        <td><input type="checkbox" v-model="selectedProfile.IsTelegram"></td>
                                    </tr>
                                    <tr v-show="isProfileCardNotice">
                                        <td>Email уведомления просроченных задач</td>
                                        <td><input type="checkbox" v-model="selectedProfile.IsEmailExpired"></td>
                                    </tr>
                                    <tr v-show="isProfileCardNotice">
                                        <td>Email уведомления о задачах</td>
                                        <td><input type="checkbox" v-model="selectedProfile.IsEmailTask"></td>
                                    </tr>
                                </table>
                                <div class="toolbar">
                                    <button class="btn btn-primary" v-on:click="saveProfile">Сохранить</button>
                                    <button class="btn btn-toolbar" v-on:click="isProfileCreateMode=false;isProfileEditMode=false;">Отменить</button>
                                </div>
                            </div>
                        </div>
                        <!--section userProfile end-->
                        
                    </div>
                </div>
                <!--section tab my company end-->
                <!--Other tabs start-->
                <div class="tab-pane fade" id="program-links">
                    <div class="tab-content-nav" id="programLinksTabs">
                        <div class="tab-content-nav-item active">Наши программы</div>
                    </div>
                    <div class="context">
                        <table class="table programmList">
                            <tbody>
                                <tr class="active">
                                    <td colspan="2"><i class="fa fa-minus-square-o"></i> Управление проектами и задачами</td>
                                </tr>
                                <tr>
                                    <td>НХП Проект</td>
                                    <td><a href="http://nhp-soft.ru/packages/auth/nhp_project.exe">Скачать</a></td>
                                </tr>
                                <tr class="active">
                                    <td colspan="2"><i class="fa fa-minus-square-o"></i> Программы для инженеров</td>
                                </tr>
                                <tr>
                                    <td>НХП Теплообменник. Конденсаторы и испарители</td>
                                    <td>
                                        <a href="http://nhp-soft.ru/packages/auth/NHPCapasitorReboiler.exe">Скачать</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>НХП Теплообменник. Кожухотрубчатые теплообменные аппараты</td>
                                    <td>
                                        <a href="http://nhp-soft.ru/packages/auth/NHP-Teploobmennik.exe">Скачать</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Калькулятор тепловой изоляции</td>
                                    <td>
                                        <a href="http://nhp-soft.ru/packages/auth/HeatInsulationCalculator.exe">Скачать</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Калькулятор противопожарныз азотных завес</td>
                                    <td>
                                        <a href="http://nhp-soft.ru/packages/auth/NitrogenCurtainCalculator.exe">Скачать</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Other tabs end-->
                <!-- ProjectTask tabs start-->
                <div class="tab-pane fade" id="projecttask">
                    <div class="tab-content-nav" id="projectTaskTabs">
                        <div class="tab-content-nav-item active">Основные</div>
                    </div>
                    <div class="context">
                        <!--section projectTask start-->
                        <div class="col-md-12">
                            В данной версии Сервиса, модуль "Проекты и задачи" работает в программе для Windows. Пожалуйста, загрузите программу "<a href="http://nhp-soft.ru/packages/auth/nhp_project.exe">НХП Проект</a>"
                        </div>
                        <!--section projectTask end-->
                    </div>
                </div>
                <!-- ProjectTask tab end-->
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    <script type="text/javascript">
        var uid = @ViewBag.UserId;
    </script>
    <script type="text/x-template" id="node-template">
        <div>
            <div class="inline-block" v-on:click="toggle">
                <span v-if="isFolder && open" class="treeview__node__pic treeview__node__pic__parent" />
                <span v-if="isFolder && !open" class="treeview__node__pic treeview__node__pic__parent__closed" />
                <span v-if="!isFolder" class="treeview__node__pic treeview__node__pic__child" />
            </div>
            <div class="treeview__node__text" v-on:dblclick="toggle" v-on:click="selectNode">
                <span>{{model.Name}}</span>
                <div class="treeview__node__toolbar">
                    <div class="text-success glyphicon glyphicon-plus" v-on:click="addNode" />
                    <div class="text-danger glyphicon glyphicon-minus" v-on:click="deleteNode" />
                </div>
            </div>
            <div class="treeview__nodes" v-show="open" v-if="isFolder">
                <node class="treeview__node" v-for="model in model.Nodes" v-bind:model="model"></node>
            </div>
            <div class="treeview__nodes__members" v-for="member in model.Members" v-show="open" v-on:click="selectMember(member)">
                <span class="treeview__node__pic treeview__node__pic__member" />
                <div class="treeview__node__text">{{member.Name}}</div>
            </div>
        </div>
    </script>
    @Styles.Render("~/bundles/fa")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/Scripts/src/dashboard.js")

}