﻿*:focus {
    outline: none;
}

.section-content {
    width: 100%;
}

.alert {
    padding: 5px;
    border: 1px solid transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    text-align: center;
}

.tab-content-nav {
    padding: 0;
    margin: 0;
    background: none;
    background-image: none;
    font-size: inherit;
    border: none;
    min-height: 0;
    max-height: none;
    border-radius: 0;
    height: 50px;
    position: relative;
    box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.07);
    white-space: nowrap;
    z-index: 1;
}

    .tab-content-nav .active {
        border-bottom-color: #1574ad;
        box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.3);
    }

.tab-content-nav-item {
    padding: 0;
    margin: 0;
    background: none;
    background-image: none;
    font-size: inherit;
    border: none;
    min-height: 0;
    max-height: none;
    position: static;
    border-radius: 0;
    position: relative;
    box-sizing: border-box;
    height: 50px;
    line-height: 49px;
    margin-left: 28px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    background: transparent;
    transition: border-color 0.5s ease;
    top: 0;
    display: inline-block;
    vertical-align: middle;
}

.alt-tab-content-nav-item {
    padding: 0;
    margin: 0;
    background: none;
    background-image: none;
    font-size: inherit;
    border: none;
    min-height: 0;
    max-height: none;
    position: static;
    border-radius: 0;
    position: relative;
    box-sizing: border-box;
    height: 50px;
    line-height: 49px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    background: transparent;
    transition: border-color 0.2s ease;
    top: 0;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    float: right;
}

.tab-content-nav-item:hover {
    cursor: pointer;
    border-bottom-color: #1574ad;
    color: #23527c;
}

.alt-tab-content-nav-item:hover {
    cursor: pointer;
    color: #23527c;
}

.tab-content-nav-item:hover a, .tab-content-nav-item:focus a {
    color: #23527c;
    text-decoration: none;
}

.context {
    padding: 25px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: none;
}

.section-personalData,
.section-organisationStructure,
.section-organisationManagement,
.section-subscriptions,
.section-employees {
    transition: all 1s ease;
    opacity: 0;
    display: none;
}

    .section-personalData.display,
    .section-organisationStructure.display,
    .section-organisationManagement.display,
    .section-subscriptions.display,
    .section-employees.display {
        display: block;
    }

    .section-personalData.active,
    .section-organisationStructure.active,
    .section-organisationManagement.active,
    .section-subscriptions.active,
    .section-employees.active {
        opacity: 1;
    }

.tab-content-nav span {
    margin-right: 30px;
}

.table-component-row th,
.table-component-row td {
    text-align: center;
    font-size: 0.9em;
}

.section-company {
    width: 70%;
    border: 1px solid #eeecec;
    padding: 10px 0 5px 20px;
    margin-bottom: 15px;
    font-size: 1.1em;
    cursor: pointer;
}

    .section-company span {
        margin-right: 30px;
    }

.section-subscriptions-top-info span {
    margin-right: 10px;
}

.no-border-radius {
    border-radius: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Small devices (tablets, 768px and up 992) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small devices (mobile, 320px and up 767) */
@media (min-width: 320px) and (max-width: 767px) {
}

.profileBlock__element {
    display: inline-block;
    width: 100%;
}

.toolbar button {
    margin: 5px;
}

    .toolbar button:first-child {
        margin-left: 0px;
    }

@media (min-width: 0px) {
    .profileBlock {
        width: 100%;
        padding-right: 0px;
        float: none;
    }

    .profileCard {
        width: 100%;
        padding-left: 0px;
        float: none;
    }

    .orgDetailCard {
        width: 100%;
        padding-left: 0px;
        float: none;
    }

    .orgStorageAccessCard {
        width: 100%;
        padding-left: 0px;
        float: none;
        margin-top: 20px;
    }

    .organisationStructureTree {
        width: 100%;
        padding-left: 0px;
        float: none;
    }

    .departmentCardDetail {
        width: 100%;
        padding-left: 0px;
        float: none;
    }

    .memberCardDetail {
        width: 100%;
        padding-left: 0px;
        float: none;
    }
}

@media (min-width: 992px) {
    .profileBlock {
        width: 50%;
        padding-right: 15px;
        float: left;
    }

    .profileCard {
        width: 50%;
        padding-left: 15px;
        float: left;
    }

    .organisationStructureTree {
        width: 50%;
        padding-right: 15px;
        float: left;
    }

    .departmentCardDetail {
        width: 50%;
        padding-left: 15px;
        float: left;
    }

    .memberCardDetail {
        width: 50%;
        padding-left: 15px;
        float: left;
    }
}

.profileCard table {
    width: 100%;
}

.orgDetailCard tr td:first-child,
.orgStorageAccessCard tr td:first-child,
.departmentCardDetail tr td:first-child,
.memberCardDetail tr td:first-child,
.profileCard tr td:first-child,
.profileList tr td:first-child,
.profileOrgList tr td:first-child {
    width: 40%;
}

.orgDetailCard tr td:last-child,
.orgStorageAccessCard tr td:last-child,
.departmentCardDetail tr td:last-child,
.memberCardDetail tr td:last-child,
.profileCard tr td:last-child,
.profileList tr td:last-child,
.profileOrgList tr td:last-child {
    width: 60%;
}

.orgDetailCard tr td:last-of-type input, .orgDetailCard tr td:last-of-type select,
.orgStorageAccessCard tr td:last-of-type input, .orgStorageAccessCard tr td:last-of-type select,
.departmentCardDetail tr td:last-of-type input, .departmentCardDetail tr td:last-of-type select,
.memberCardDetail tr td:last-of-type input, .memberCardDetail tr td:last-of-type select,
.profileCard tr td:last-of-type input, .profileCard tr td:last-of-type select,
.profileList tr td:last-of-type input, .profileList tr td:last-of-type select,
.profileOrgList tr td:last-of-type input, .profileOrgList tr td:last-of-type select {
    width: 100%;
    border: 0px;
    background-color: inherit;
}

    .orgDetailCard tr td:last-of-type input:required:valid, .orgDetailCard tr td:last-of-type select:required:valid,
    .orgStorageAccessCard tr td:last-of-type input:required:valid, .orgStorageAccessCard tr td:last-of-type select:required:valid,
    .profileCard tr td:last-of-type input:required:valid, .profileCard tr td:last-of-type select:required:valid {
        border-bottom: none;
    }

    .orgDetailCard tr td:last-of-type input:required:invalid, .orgDetailCard tr td:last-of-type select:required:invalid,
    .orgStorageAccessCard tr td:last-of-type input:required:invalid, .orgStorageAccessCard tr td:last-of-type select:required:invalid,
    .profileCard tr td:last-of-type input:required:invalid, .profileCard tr td:last-of-type select:required:invalid {
        border-bottom: 1px dashed darkred;
    }

.profileCard button {
    margin: 10px;
}

.treeView__content {
    margin-top: 20px;
    margin-bottom: 20px;
}

    .treeView__content .active {
        background-color: #eee;
    }

.treeview__node {
    margin-left: 0px;
    cursor: pointer;
    font-size: small;
}

.treeview__node__text {
    display: inline-block;
}

    .treeview__node__text:hover {
        background-color: #eee;
    }

.treeview__node__pic {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    position: relative;
    top: 9px;
}

.treeview__node__pic__parent {
    background-image: url('../images/nodeParent.png');
    background-repeat: no-repeat;
}

.treeview__node__pic__parent__closed {
    background-image: url('../images/nodeParentClosed.png');
    background-repeat: no-repeat;
}

.treeview__node__pic__child {
    background-image: url('../images/node.png');
    background-repeat: no-repeat;
}

.treeview__node__pic__member {
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
}

.treeview__nodes {
    margin: 5px 0px 0px 40px;
}

.treeview__nodes__members {
    margin: 5px 0px 0px 40px;
}

.treeview__node__toolbar {
    display: none;
}

.treeview__node__text:hover .treeview__node__toolbar {
    display: inline-block;
}

.departmentCardDetail img {
    width: 24px;
    height: 24px;
}

#availableInvitedUsers .table {
    margin-bottom: 0px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.departmentCardDetail .pointer tr {
    vertical-align: middle;
}

.departmentCardDetail .pointer td:first-of-type {
    text-align: center
}

.departmentCardDetail .selected td:last-of-type {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.profileList .selected td {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.memberCardDetail .table tr td:last-of-type input, .memberCardDetail .table tr td:last-of-type select,
.departmentCardDetail .table tr td:last-of-type input, .departmentCardDetail .table tr td:last-of-type select {
    width: 100%;
}

.width-100 {
    width: 100%;
}

.resize-none {
    resize: none;
}

.resize-vertical {
    resize: vertical;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.table-hover tr {
    cursor: pointer;
}

.dropdown-divider {
    border-bottom: 1px solid #eee;
    width: 90%;
    margin: auto;
}

.licensesList .table-bordered > thead > tr > th,
.invoicesList .table-bordered > thead > tr > th,
.buyLicensesList .table-bordered > thead > tr > th,
.invitedUsersList .table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border: none;
}

.licensesList .table-bordered > thead,
.invoicesList .table-bordered > thead,
.buyLicensesList .table-bordered > thead,
.invitedUsersList .table-bordered > thead {
    border: 1px solid #ddd;
}

.invoicesList .table > tbody > tr > td,
.buyLicensesList .table > tbody > tr > td,
.invitedUsersList .table > tbody > tr > td {
    vertical-align: middle;
}


.invoicesList .table-bordered > thead > tr:last-of-type > th,
.buyLicensesList .table-bordered > thead > tr:last-of-type > th,
.invitedUsersList .table-bordered > thead > tr:last-of-type > th {
    text-align: center;
    vertical-align: middle;
}

.licensesList .table-bordered > thead > tr:last-of-type > th {
    text-align: center;
    vertical-align: bottom;
}

.licensesList .table-bordered > thead > tr:nth-of-type(2) > th {
    text-align: center;
    vertical-align: bottom;
}

.licensesList .table-bordered > tbody > tr > td:last-of-type,
.invitedUsersList .table-bordered > tbody > tr > td:last-of-type {
    text-align: center;
}

.buyLicensesList .table-bordered > tbody > tr > td:nth-of-type(1), .buyLicensesList .table-bordered > tbody > tr > td:nth-of-type(3), .buyLicensesList .table-bordered > tbody > tr > td:nth-of-type(4) {
    text-align: center;
}

.buyLicensesList .table-bordered > tbody > tr > td:nth-of-type(1) {
    width: 5%
}

.buyLicensesList .table-bordered > tbody > tr > td:nth-of-type(2) {
    width: 50%
}

.buyLicensesList .table-bordered > tbody > tr > td:nth-of-type(4) {
    width: 15%
}

.buyLicensesList .table-bordered > tbody > tr > td:nth-of-type(5) {
    width: 15%
}

.shown-enter-active, .shown-leave-active {
    transition: opacity .5s;
}

.shown-enter, .shown-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.compose {
}

.compose-header {
}

.compose-header-to {
    border-bottom: 1px solid #dedede;
}

    .compose-header-to label {
        cursor: pointer;
        font: 11px/1.5 Verdana,sans-serif;
        color: rgba(0,0,0,.5);
        text-decoration: none;
        padding: 6px 6px 6px 8px;
        margin: -6px 0 -6px -8px;
    }

    .compose-header-to input {
        position: relative;
        outline: 0;
        overflow: hidden;
        width: 94%;
        min-height: 20px;
        line-height: 20px;
        white-space: pre-wrap;
        word-wrap: break-word;
        border: none;
    }

.compose-header-theme {
    margin-top: 10px;
    border-bottom: 1px solid #dedede;
}

    .compose-header-theme label {
        font: 11px/1.5 Verdana,sans-serif;
        color: rgba(0,0,0,.5);
        text-decoration: none;
        padding: 6px 6px 6px 8px;
        margin: -6px 0 -6px -8px;
    }

    .compose-header-theme input {
        position: relative;
        outline: 0;
        overflow: hidden;
        width: 94%;
        min-height: 20px;
        line-height: 20px;
        white-space: pre-wrap;
        word-wrap: break-word;
        border: none;
    }

.compose-body {
    margin-top: 10px;
}

.compose-toolbox {
}

.ck-editor__editable {
    border: 1px solid #bfbfbf;
    min-height: 300px;
}

.compose-footer {
    margin-top: 10px;
}

.ck-rounded-corners .ck-editor__top .ck-sticky-panel .ck-toolbar, .ck-editor__editable.ck-rounded-corners, .ck-rounded-corners .ck-editor__editable {
    border-radius: 0px !important;
}




/*
 * Imageless CSS3 Treeview with Checkbox Support
 * @namespace window.AcidJs
 * @class CSS3Treeview
 * @version 3.0
 * @author Martin Ivanov
 * @url developer website: http://wemakesites.net/
 * @url developer twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer blog http://acidmartin.wordpress.com/
 **/

/*
 * Do you like this solution? Please, donate:
 * https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QFUHPWJB2JDBS
 **/

.acidjs-css3-treeview,
.acidjs-css3-treeview * {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .acidjs-css3-treeview label[for]::before,
    .acidjs-css3-treeview label span::before {
        content: "\25b6";
        display: inline-block;
        margin: 2px 0 0;
        width: 13px;
        height: 13px;
        vertical-align: top;
        text-align: center;
        color: #e74c3c;
        font-size: 8px;
        line-height: 13px;
    }

    .acidjs-css3-treeview li ul {
        margin: 0 0 0 22px;
    }

    .acidjs-css3-treeview * {
        vertical-align: middle;
    }

.acidjs-css3-treeview {
    font: normal 11px/16px "Segoe UI", Arial, Sans-serif;
}

    .acidjs-css3-treeview li {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .acidjs-css3-treeview input[type="checkbox"] {
        display: none;
    }

    .acidjs-css3-treeview label {
        cursor: pointer;
    }

        .acidjs-css3-treeview label[for]::before {
            -webkit-transform: translatex(-24px);
            -moz-transform: translatex(-24px);
            -ms-transform: translatex(-24px);
            -o-transform: translatex(-24px);
            transform: translatex(-24px);
        }

        .acidjs-css3-treeview label span::before {
            -webkit-transform: translatex(16px);
            -moz-transform: translatex(16px);
            -ms-transform: translatex(16px);
            -o-transform: translatex(16px);
            transform: translatex(16px);
        }

    .acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before {
        content: "\25bc";
    }

    .acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul {
        display: none;
    }

    .acidjs-css3-treeview label:not([for]) {
        margin: 0 8px 0 0;
    }

    .acidjs-css3-treeview label span::before {
        content: "";
        border: solid 1px #1375b3;
        color: #1375b3;
        opacity: .50;
    }

    .acidjs-css3-treeview label input:checked + span::before {
        content: "\2714";
        box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
        opacity: 1;
    }

.node-member label[id] {
    margin-left:10px;
}

.programmList > tbody {
    border: 1px solid #ddd;
}

.programmList > tbody > tr:last-of-type > td {
    border-bottom: 1px solid #ddd;
}

.programmList tbody .active td:first-of-type {
    text-indent: 0px;
}

.programmList tbody td:first-of-type {
    text-indent: 20px;
}