﻿body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    overflow-y: scroll;
    background: #f5f5f5;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

article {
    width: 100%;
    background-color: #333333;
}

.top-notification {
    margin: 10px 0 10px 0;
    color: #f3ffff;
    font-size: 1.1em;
}

    .top-notification span {
        margin-right: 20px;
    }

    .top-notification input[type="button"],
    .top-notification input[type="button"]:hover,
    .top-notification input[type="button"]:active {
        border: none;
        border-radius: 3px;
        padding: 5px 10px 5px 10px;
    }

    .top-notification input[type="button"] {
        background-color: #a7bf31;
    }

        .top-notification input[type="button"]:hover {
            background-color: #cbe162;
        }

        .top-notification input[type="button"]:active {
            background-color: #bbd148;
        }

@media (min-width: 1250px) {
    .container {
        width: 1220px;
    }
}

.nhp-header {
    background: white !important;
    height: 50px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.07);
    text-align: inherit;
    margin-bottom: 20px;
    color: #404040;
    font-size: 14px;
    line-height: 16px;
    display: table;
    width: 100%;
}

    .nhp-header .nhp-wrapper {
        margin: 0 auto;
        padding: 0 0px !important;
        /*max-width: 1265px !important;
        min-width: 958px !important;*/
    }

.nhp-header-item {
    display: inline-block;
    height: 100%;
    padding-top: 0;
    height: auto;
    vertical-align: initial;
    padding: 0;
    transition: background .2s ease;
    max-height: 50px;
    white-space: nowrap;
}



    .nhp-header-item:hover {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 0;
    }

.nhp-header-link, .nhp-header-link:hover, .nhp-header-link:focus {
    cursor: pointer;
    line-height: 50px;
    display: inline-block;
    position: relative;
    padding: 0 14px;
    box-sizing: border-box;
    max-width: 100%;
    color: #404040;
    text-decoration: none !important;
}

.nhp-header-logo img {
    height: 32px;
}

.nhp-header-item__logout::before {
    content: "";
    left: -1px;
    border-left: 1px solid #e5e5e5;
    top: 10px;
    height: 30px;
    position: absolute;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navigationmenu {
    margin: 0 auto;
    /*max-width: 1220px !important;
    min-width: 958px !important;*/
}

.nav-tabs {
    border: none;
    background-color: #3094d0;
}

    .nav-tabs > li > a {
        margin-right: 0px;
        line-height: 1.42857143;
        border: none;
        border-radius: 0;
    }


    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #fff;
        cursor: pointer;
        background-color: #1574ad;
        border: none;
    }

    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        color: #fff;
        cursor: pointer;
        background-color: #2183bd;
        border: none;
    }

    .nav-tabs > li {
        float: left;
        margin-bottom: 0px;
    }

.nav > li > a {
    color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.myHeightClass {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/site-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}

.inline-block {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.tab-content-nav .active {
    font-weight: bold;
}

    .tab-content-nav .active a {
        color: #23527c;
    }

a:hover, a:focus {
    text-decoration: none;
}

.fa-loading {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.list-group {
    display: inline-block;
}
